{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>{{ title }}</h2>
<div class="card">
<div class="card-body">
<h4 class="card-title">Log in to your account</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn btn-primary btn-block">Log in</button>
</form>
<p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
</div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
